doctype html
html
  head
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
    style.
        /* Sticky footer styles
        -------------------------------------------------- */
        html {
            position: relative;
            min-height: 100%;
        }
        #map {
            height: 400px;
            width: 100%;
        }
        body {
            /* Margin bottom by footer height */
            margin-bottom: 60px;
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 60px;
            background-color: #f5f5f5;
        }

        /* Custom page CSS
        -------------------------------------------------- */
        /* Not required for template or sticky footer method. */

        body > .container {
            padding: 60px 15px 0;
        }

        .container .text-muted {
            margin: 20px 0;
        }

        .footer > .container {
            padding-right: 15px;
            padding-left: 15px;
        }

        code {
            font-size: 80%;
        }



body
    nav.navbar.navbar-default.navbar-fixed-top
        .container
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#') Drunk Map
            #navbar.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(href='#about') About
                    li
                        a(href='#contact') Contact

            // /.nav-collapse
    // Begin page content
    .container
      #map
    footer.footer
        .container

            form.form-inline
                .form-group
                    label(for='phone-number') Phone
                    input#phone-number.form-control(name='phone', type='tel', placeholder="ex. 0123456789")
                button.btn.btn-default(type='submit') Join The Drunk Map
            span#confirm.text-muted(style='display: none;') Number Added!




                    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
          //script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src='https://code.jquery.com/jquery-1.12.0.min.js')
          script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
          script(src='../javascripts/sidebar.js')

      script.

        $('form').on('submit',function(e){
        e.preventDefault()
            console.log($(this).serializeArray()[0].value)
            $('form').toggle();
            $('#confirm').show();

            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: '/phone_number',
                data: JSON.stringify({'phone': $(this).serializeArray()[0].value}),
                success: function (data, textStatus) {
                    // data.redirect contains the string URL to redirect to
                    }
            });

        });
        function center(position){

        }

        function initMap() {

            $.ajax({
            type: "GET",
            url: '/drunk_people',
            contentType: "application/json",
            success: function (data, textStatus) {
            if (data.ppl) {
            // data.redirect contains the strling URL to redirect to
                locations = data.ppl[0];
                sober_locations = data.ppl[1]
                var uluru = {lat: -25.363, lng: 131.044};
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 14,
                    center: uluru
                });
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                        map.setCenter(initialLocation);
                    });
                }
                var sloshed = {
                    url: "../images/sloshed.png",
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(25, 25)
                };
                var sober = {
                    url: "../images/sober.png",
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(25, 25)
                };
                var drunk_length = locations.length;
                var sober_length = sober_locations.length;
                for (var i = 0; i < drunk_length; i++) {
                    console.log(locations[i]);
                    var marker = new google.maps.Marker({
                        position: locations[i],
                        map: map,
                        title: "sloshed",
                        icon: sloshed
                    });

                }
                for (var i = 0; i < sober_length; i++) {
                    console.log("faggot");
                    var marker = new google.maps.Marker({
                        position: sober_locations[i],
                        map: map,
                        title: "sober",
                        icon: sober
                    });

                }


            }
            else {
            console.log(textStatus)
            console.log(data)
            }
            }
            });

        }
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCdLiAdPO-1CaPc---n1eOAC1l8HHLc1gw&callback=initMap')

